@import "../../shared/styles-variables.scss";
.projects-container {
  padding: 0px 100px 0px 100px;

  .projects-text-container {
    flex-direction: column;
    .projects-title {
      font-family: "Bebas Neue", sans-serif;
      font-style: normal;
      font-size: 80px;
      color: $color3;
    }
    .projects-text {
      text-align: justify;
      font-family: "Inter";
      font-weight: 300;
      color: $color4;
      padding-bottom: 20px;
    }
    
  }
  .projects-cards-container{
  flex-direction: column;

    gap: 10px;

  }
}


@media (min-width: 1300px) {
  .projects-container {
    padding: 0px 250px 0px 250px;
  }
}

@media (max-width: 767px) {
  .projects-container {
    flex-direction: column;
    padding: 20px;

    .projects-text-container {
      width: 300px;

      .projects-title {
        font-size: 40px;
        width: 300px;
        margin: 10px 0;
        text-align: left;
      }

      .projects-text {
        font-weight: 300;
        margin: 10px 0;
      }
    }

    .projects-cards-container {
      flex-direction: column;
      gap: 10px;
    }
  }
}
