@import "../../shared/styles-variables.scss";
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color5;
    z-index: 9999;
  }
  
  .loader-video {
    width: 100%;
    height: auto;
    max-width: 150px; 
  }
  