//Colors
$color1: #451599;
$color2: #D3E97A;
$color3: #FFFFFF;
$color4: #C7C7C7;
$color5: #000000;
$color6: #1A1A1A;
$color7: #5c5c5c;
$color8: #2e2e2e;
$color9: #FF6961;
$color10: #BDECB6;

//Butons:
$buttonBackgroundColor: #D3E97A;
$buttonBackgroundColorHover: #451599;
$buttonBackgroundColorActive: #2a0e5a;
$buttonBackgroundColorDisable: #d6e1ab;
